.procuct-card {
    width: 280px;
    background-color: #f0f0f0;
    color: white;
}

.product-card-title {
    height: 56px;
    width: 280px;
    text-align: left;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.add-favorite {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid #dddddd; 
}

.product-price {
    text-align: left;
}