.favorites-page {
    margin-top: 120px;
}

.favorites-page-no-items {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    color: #000;
}

.favorites-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorites-page-no-items-icon {
    margin: 0 auto;
}