.cart-page {
    margin-top: 120px;
}

.cart-page-no-items {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    color: #000;
}

.cart-page-no-items-icon {
    margin: 0 auto;
}

.product-list {
    margin-top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.card-in-cart {
    margin: 20px 15px;
}

.close-card {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #191919;
}

.cart-card-info {
    display:  flex;
    justify-content: space-between;
    align-items: center;
}