.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 46, 46, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    max-width: 750px;
    min-height: 360px;
    background-color: #fff;
    color: 000;
    border-radius: 8px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.modal-header {
    position: relative;
    width: 750px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    & h2 {
        margin: 0 35px;
        font-size: 24px;
    }
}

.modal-close {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #191919;
}

.modal-body {
    margin-top: 20px;
}

.cart-modal-wrapper {
    width: 680px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-text-modal {
    width: 420px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-title-modal {
    height: 56px;
    width: 280px;
    text-align: left;
}


.plus-minus-btn-wrapper {
    width: 160px;
    height: 24px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.modal-buttons-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.total-price {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
}