.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #5a5a5aaa;
}

.header-wrapper {
    height: 100%;
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(2px);
}

.pages-navigation {
    display: flex;
    gap: 20px;
}

.page-link {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;    

    &:hover{
        text-decoration: underline;
    }
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart-shopping-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.heart-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo:hover {
    cursor: pointer;
}
