#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
